@accent: #f0650d;
@dark: #293A43;
@light: #ededed;
@gray: #4b5a65;
@gutter: 20px;

@font-face {
	font-family: raleway-grid;
	src: url("../fonts/RalewayRegular.woff") format("woff");
}

@font-face {
	font-family: raleway-grid;
	src: url("../fonts/RalewayBold.woff") format("woff");
	font-weight: 700;
}

@font-face {
	font-family: raleway-grid;
	src: url("../fonts/RalewayExtraBold.woff") format("woff");
	font-weight: 800;
}

@font-face {
	font-family: intro-grid;
	src: url("../fonts/IntroRegular.woff") format("woff");
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: raleway-grid, sans-serif;
	line-height: 1.75;
	color: #333;
	-webkit-text-size-adjust: 100%;
}

.text-center {
	text-align: center;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.button {
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: @accent;
	padding: 10px 60px;
	font-size: 20px;
	font-weight: 800;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
	cursor: pointer;

	&::after {
		transition: background-color .2s ease;
		position: absolute;
		content: '';
		height: 4px;
		bottom: 0;
		width: 100%;
		background-color: darken(@accent, 50%);
		opacity: .18;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		left: 0;
	}

	&:focus, &:hover {
		text-decoration: none;
		color: #fff;
	}

	&:hover {
		background-color: lighten(@accent, 5%);

		&::after {
			opacity: .22;
		}
	}

	&:active {
		background-color: darken(@accent, 5%);

		&::after {
			opacity: .32;
		}
	}
}

.grid {
	display: grid;
}

.main-header {
	min-height: 100vh;
	background-size: cover;
	position: relative;
	align-content: center;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: @dark;
		opacity: .92;
	}
}

.header-content {
	z-index: 1;
	color: #fff;
	text-align: center;
	padding: 60px @gutter;

	h1 {
		font-size: 60px;
		font-family: intro-grid, sans-serif;
		font-weight: normal;
		margin: 20px 0;
		line-height: 1.5;
	}

	.button {
		margin: 20px;

		&.button-gray {
			background-color: @gray;

			&::after {
				background-color: darken(@gray, 15%);
			}

			&:hover {
				background-color: lighten(@gray, 5%);

				&::after {
					opacity: .22;
				}
			}

			&:active {
				background-color: darken(@gray, 5%);

				&::after {
					opacity: .32;
				}
			}
		}
	}
}


.portfolio-section {
	padding: 10px;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 10px;
}

.portfolio-item {
	min-height: 32vh;
	background-size: cover;
	background-position: center;
	text-align: center;
	align-content: center;
	padding: @gutter;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	position: relative;
	transition: color .5s ease;
	cursor: pointer;

	&:hover {
		color: @accent;

		&::before {
			opacity: .85;
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: @dark;
		opacity: .65;
		transition: opacity .5s ease;;
	}

	> * {
		z-index: 1;
	}

	&:nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	&:nth-child(5) {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	&:nth-child(6) {
		grid-column: 4;
		grid-row-start: 2;
		grid-row-end: 4;
	}

	&:nth-child(7) {
		grid-column: 5;
		grid-row-start: 2;
		grid-row-end: 4;
	}
}

.buttoncase {
	grid-column-start: 1;
	grid-column-end: 6;
	padding: @gutter @gutter 50px;
}

.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 @gutter;
}

.landing-section {
	padding: 80px 0;

	h2 {
		font-size: 34px;
		font-weight: 800;
		color: @dark;
		line-height: 1.2;
	}
}

.section-ready {
	background-color: @light;
	.container {
		grid-template-columns: 1fr 1fr;

		.ready-left {
			border-right: 1px solid #dadada;
			font-size: 18px;
			padding: 60px 60px 60px 0;

			h2 {
				margin-top: 0;
				margin-bottom: 40px;
			}
		}

		.ready-right {
			padding-left: 40px;
		}
	}
}

.formsection {
	padding: 30px 0;
	background-color: @dark;

	.button {
		font-size: 17px;
		padding: 14.5px;
		width: 100%;
	}
	input {
		background-color: lighten(@dark, 6%);
	}
	form {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: @gutter;
	}
}

input, textarea {
	overflow: visible;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	border: none;
	padding: 15px 20px;
	width: 100%;
	font-family: Arial, sans-serif;
	font-style: italic;
	outline: none;
	transition: background-color .25s ease;

	&:focus {
		background-color: @light;
	}

	&::placeholder {
		color: lighten(@dark, 20%);
	}
}


@media (max-width: 992px) {
	.button {
		font-size: 18px;
	}
	.buttoncase {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.header-content {
		padding: 40px 20px;

		h1 {
			font-size: 50px;
			line-height: 1.3;
		}
	}

	.portfolio-section {
		grid-template-columns: repeat(3, 1fr);
	}

	.portfolio-item {
		min-height: 40vh;
		font-size: 16px;

		&:nth-child(4) {
			grid-column-start: 2;
			grid-column-end: 4;
		}

		&:nth-child(5) {
			grid-column-start: 1;
			grid-column-end: 3;
		}

		&:nth-child(6) {
			grid-column: 3;
			grid-row-start: 3;
			grid-row-end: 5;
		}

		&:nth-child(7) {
			grid-column: 1;
			grid-row-start: 4;
			grid-row-end: 6;
		}
	}
}

@media (max-width: 768px) {
	.landing-section {
		padding: 50px 0;

		h2 {
			text-align: center;
			font-size: 26px;
			margin-bottom: 26px;
		}
	}

	.section-ready {
		.container {
			grid-template-columns: 1fr;

			> div {
				padding: 0 8%;

				&.ready-left {
					border: none;
					padding-right: 10px;
				}
			}
		}
	}

	.formsection {
		form {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (max-width: 480px) {
	.button {
		font-size: 18px;
	}

	.buttoncase {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	.header-content {
		padding: 40px 20px;

		h1 {
			font-size: 40px;
			line-height: 1.3;
		}
	}

	.portfolio-section {
		grid-template-columns: 1fr;
	}

	.portfolio-item {
		min-height: 50vh;

		&:nth-child(1) {
			grid-column: initial;
		}

		&:nth-child(4) {
			grid-column: initial;
			grid-row: initial;
		}

		&:nth-child(5) {
			grid-column: initial;
			grid-row: initial;
		}

		&:nth-child(6) {
			grid-column: initial;
			grid-row: initial;
		}

		&:nth-child(7) {
			grid-column: initial;
			grid-row: initial;
		}
	}

	.formsection {
		form {
			grid-template-columns: 1fr;
		}
	}
}
